<h1>Всички регистрирани менюта</h1>
<span><%= link "Създай ново меню", to: Routes.catering_catering_menu_path(@conn, :new, @conn.path_params["catering_id"]) %></span>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Предястие</th>
            <th>Основно</th>
            <th>Десерт</th>
            <th>Цена</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody>
        <%= for menu <- @menus do %>
        <tr>
            <td><%= menu.date %></td>
            <td><%= Server.Catering.get_food!(menu.starter_id).name %> </td>
            <td><%= Server.Catering.get_food!(menu.main_id).name %> </td>
            <td><%= Server.Catering.get_food!(menu.dessert_id).name %> </td>
            <td>
                <%= 
                    price = (Server.Catering.get_food!(menu.starter_id).price + Server.Catering.get_food!(menu.main_id).price + Server.Catering.get_food!(menu.dessert_id).price) 
                    |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
                    Enum.join([price, "лв."]," ")
                %>
            </td>
            <td>
                <%= link "Покажи", to: Routes.catering_catering_menu_path(@conn, :show, menu.catering_id, menu.id) %>
                <%= link "Изтрий", to: Routes.catering_catering_menu_path(@conn, :delete, menu.catering_id, menu.id), method: :delete, data: [confirm: "Are you sure?"] %>
            </td>
        </tr>
        <% end %> 
    </tbody>
</table>

