<div class="row">
  <div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Потвърди дете</h3>

    <%= form_for @conn, Routes.parent_parent_child_path(@conn , :create, @parent_id),[ method: :post, as: :child_configmation, class: "form-elixir register-form-class" ], fn child_configmation -> %>
    <%= inputs_for child_configmation, :child_configmation, fn map -> %>
    <div class="col-xs-12">
      <%= text_input map, :egn, [ class: "form-control" ,minlength: "10", required: true , placeholder: "ЕГН",  type: "text"] %>
      <%= text_input map, :secure_code_confirmation, [ class: "form-control" ,minlength: "12", required: true , placeholder: "Потвърждаващ код",  type: "text"] %>
    </div>
    <% end %>
    <button class="btn btn-primary">Добави</button>
    <% end %>
  </div>
</div>