<h1>Промяна на профил</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.parent_parent_child_path(@conn, :update, @parent_id,@child)) %>

<span><%= link "Back", to: Routes.parent_parent_child_path(@conn, :index, @parent_id) %></span>