<h1>Всички регистрирани деца</h1>
<%= render( "child_confirmation.html", Map.put(assigns, :action, Routes.parent_parent_child_path(@conn, :create,  @parent_id))) %>
<table>
  <thead>
    <tr>
      <th>Име</th>
      <th>Училище</th>
      <th>№ на гривна</th>
      <th>Опции</th>
    </tr>
  </thead>
  <tbody>

    <%= for child <- @children do %>
    <tr>
      <td><%= child.name  %></td>
      <td><%= child.egn %>
      <td><%= child.rfid %>

      <td>
        <%= link "Show", to: Routes.parent_parent_child_path(@conn, :show,@parent_id, child) %>
        <%= link "Edit", to: Routes.parent_parent_child_path(@conn, :edit, @parent_id, child) %>
        <%= link "Delete", to: Routes.parent_parent_child_path(@conn, :delete, @parent_id,child), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>