<h1>Информация за избрано дете:</h1>
<br>

<ul>

  <li>
    <% child_info = String.split(@child.name," ") %>
    <strong>Име:</strong>
    <%= hd(child_info) %>
  </li>
  <li>
    <strong>Презиме:</strong>
    <%= tl(child_info) |> hd() %>
  </li>
  <li>
    <strong>Фамилия:</strong>
    <%= tl(child_info) |> tl() |> hd() %>
  </li>
  <li>
    <strong>Клас:</strong>
    <%= tl(child_info) |> tl() |> tl() |> hd() %>
  </li>
  <li>
    <strong>Паралелка:</strong>
    <%= tl(child_info) |> tl() |> tl() |> tl() |> hd() %>
  </li>

</ul>