<h1>Listing Administrators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for administrator <- @administrators do %>
    <tr>
      <td><%= administrator.name %></td>

      <td>
        <%= link "Show", to: Routes.administrator_path(@conn, :show, administrator) %>
        <%= link "Edit", to: Routes.administrator_path(@conn, :edit, administrator) %>
        <%= link "Delete", to: Routes.administrator_path(@conn, :delete, administrator), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Administrator", to: Routes.administrator_path(@conn, :new) %></span>
