<h1>Show Administrator</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @administrator.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.administrator_path(@conn, :edit, @administrator) %></span>
<span><%= link "Back", to: Routes.administrator_path(@conn, :index) %></span>
