<h1>Всички регистрирани училища</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for school <- @schools do %>
    <tr>
      <td><%= school.name %></td>

      <td>
        <%= link "Show", to: Routes.school_path(@conn, :show, school) %>
        <%= link "Edit", to: Routes.school_path(@conn, :edit, school) %>
        <%= link "Delete", to: Routes.school_path(@conn, :delete, school), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New School", to: Routes.school_path(@conn, :new) %></span>
