<h1>Show School</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @school.name %>
  </li>
  <li>
    <strong>Email:</strong>
    <%= @school.email %>
  </li>
  <li>
    <strong>Username:</strong>
    <%= Server.Accounts.get_school!(@conn.assigns.school.id).credential.username %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.school_path(@conn, :edit, @school) %></span><br>
<span><%= link "Добави дете", to: Routes.school_school_child_path(@conn, :index, @school) %></span><br>
<span><%= link "Back", to: Routes.school_path(@conn, :index) %></span>
