<h1>Всички регистрирани родители</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for parent <- @parents do %>
    <tr>
      <td><%= parent.name %></td>

      <td>
        <%= link "Show", to: Routes.parent_path(@conn, :show, parent) %>
        <%= link "Edit", to: Routes.parent_path(@conn, :edit, parent) %>
        <%= link "Delete", to: Routes.parent_path(@conn, :delete, parent), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Parent", to: Routes.parent_path(@conn, :new) %></span>
