<div class="row">
<div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Регистрация на родител</h3>
    
    <%= form_for @conn, Routes.parent_path(@conn , :create),[ method: :post, as: :registration, class: "form-elixir register-form-class" ], fn f -> %>
                <%= inputs_for f, :parent, fn pdf -> %>

    <div class="col-xs-12">
            <%= text_input pdf, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Лично име",  type: "text" , value: ""] %>
            <%= text_input pdf, :email, [ class: "form-control" , required: true , placeholder: "Имейл адрес",  type: "email"] %>
            <%= select pdf, :city, @cities %>
    </div>
        <%= inputs_for pdf, :credential, fn cf -> %>
            
            <%= text_input cf, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: ""] %>
            <%= text_input cf, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: ""] %>
            <%= text_input cf, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password", value: ""] %>
        <% end %>
        <%= inputs_for pdf, :address, fn cf -> %>

            <%= hidden_input cf, :country, [ class: "form-control", required: true ,value: "България"] %>
            <%= hidden_input cf, :city, [ class: "form-control", value: ""] %>
            <%= hidden_input cf, :province, [ class: "form-control", value: ""] %>
            <%= text_input cf, :address, [ class: "form-control" , placeholder: "Адрес", required: true ,  type: "text"] %>
            <%= text_input cf, :post_code, [ class: "form-control" ,placeholder: "Пощенски код", required: true ,  type: "number"] %>
        <% end %>
        <% end %>
        <button class="btn btn-primary" >Регистрирай</button>
    <% end %>
    
    <%# <div class="row mt-3">
        <div class="col">
            <a onclick="showModalForm(event, 'forgotten-pass-form')" href="#"> ЗАБРАВЕНА ПАРОЛА
            </a>
        </div>
    </div> %>
    <%# <div class="row mt-5">
        <div class="col pb-4 text-center">
        </div>
    </div>
     %>
</div>
</div>