<% IO.inspect @parent %>

<h1>Профил</h1><br>
<br><b>Име:</b> <%= name(@parent.name,:first_name) %>
<br><b>Презиме:</b> <%= name(@parent.name,:middle_name) %>
<br><b>Фамилия:</b> <%= name(@parent.name,:last_name) %>
<br><b>Потребителско име:</b> <%= @parent.credential.username %>
<br><b>Имейл:</b> <%= @parent.email %>


<br><span><%= link "Edit", to: Routes.parent_path(@conn, :edit, @parent) %></span>
<br><span><%= link "Деца", to: Routes.parent_parent_child_path(@conn, :index, @parent) %></span>
<br><span><%= link "Back", to: Routes.parent_path(@conn, :index) %></span>