<h1>Listing Us  ers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for us__er <- @us__ers do %>
    <tr>
      <td><%= us__er.name %></td>

      <td>
        <%= link "Show", to: Routes.us__er_path(@conn, :show, us__er) %>
        <%= link "Edit", to: Routes.us__er_path(@conn, :edit, us__er) %>
        <%= link "Delete", to: Routes.us__er_path(@conn, :delete, us__er), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Us  er", to: Routes.us__er_path(@conn, :new) %></span>
