<h1>Show Us  er</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @us__er.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.us__er_path(@conn, :edit, @us__er) %></span>
<span><%= link "Back", to: Routes.us__er_path(@conn, :index) %></span>
