<h1>Всички регистрирани хостове</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for host <- @hosts do %>
    <tr>
      <td><%= host.name %></td>

      <td>
        <%= link "Show", to: Routes.host_path(@conn, :show, host) %>
        <%= link "Edit", to: Routes.host_path(@conn, :edit, host) %>
        <%= link "Delete", to: Routes.host_path(@conn, :delete, host), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Host", to: Routes.host_path(@conn, :new) %></span>
