<div class="row">
<div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Регистрация на хост</h3>
    
    <%= form_for @conn, Routes.host_path(@conn , :create),[ method: :post, as: :registration, class: "form-elixir register-form-class" ], fn f -> %>

    <div class="col-xs-12">
            <%= text_input f, :name, [ class: "form-control" ,minlength: "3", required: true , placeholder: "Лично име",  type: "text" , value: "Хост Хост Хост-"] %>
            <%= text_input f, :email, [ class: "form-control" , required: true , placeholder: "Имейл адрес",  type: "email"] %>
            <%= select f, :city, @cities %>
    </div>
        <%= inputs_for f, :credential, fn credential_form -> %>
            <%= text_input credential_form, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: "уз-12345678-"] %>
            <%= text_input credential_form, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: "123123123"] %>
            <%= text_input credential_form, :password_confirmation, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Повторете паролата",  type: "password",value: "123123123"] %>
        <% end %>
        <%= inputs_for f, :address, fn address -> %>
            <%= hidden_input address, :country, [ class: "form-control", required: true ,value: "България"] %>
            <%= hidden_input address, :city, [ class: "form-control", value: ""] %>
            <%= hidden_input address, :province, [ class: "form-control", value: ""] %>
            <%= text_input address, :address, [ class: "form-control" , placeholder: "Адрес", required: true ,  type: "text"] %>
            <%= text_input address, :post_code, [ class: "form-control" ,placeholder: "Пощенски код", required: true ,  type: "number"] %>
        <%end%>
        <button class="btn btn-primary" >Регистрирай</button>
    <% end %>
    
    <%# <div class="row mt-3">
        <div class="col">
            <a onclick="showModalForm(event, 'forgotten-pass-form')" href="#"> ЗАБРАВЕНА ПАРОЛА
            </a>
        </div>
    </div> %>
    <%# <div class="row mt-5">
        <div class="col pb-4 text-center">
        </div>
    </div>
     %>
</div>
</div>