<h1>Show Host</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @host.name %>
  </li>
  <li>
    <strong>Email:</strong>
    <%= @host.email %>
  </li>
   <li>
    <strong>Username:</strong>
    <%= Server.Accounts.get_host!(@conn.assigns.host.id).credential.username %> 
  </li>

</ul>

<span><%= link "Edit", to: Routes.host_path(@conn, :edit, @host) %></span><br>
<span><%= link "Back", to: Routes.host_path(@conn, :index) %></span>
