<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
</section>

<section class="row">
  <article class="column">
  <a href="/login">login</a>
  <a href="/register">register</a>
    <h2>Resources</h2>
    <ul>
       <li>
        <a href="/caterings">Caterings</a>
        <a href="/caterings/new">New</a>
      </li>
      <li>
        <a href="/hosts">Hosts</a>
        <a href="/hosts/new">New</a>
      </li> 
           <li>
        <a href="/parents">Parents</a>
        <a href="/parents/new">New</a>
      </li>      
      <li>
        <a href="/schools">Schools</a>
        <a href="/schools/new">New</a>
      </li>      
    </ul>
  </article>
  <article class="column">
    
  </article>
</section>
