<div>
    <div class="col-lg-6 m-auto pt-5 form-sign-in">
        <h3 class="h3 mb-5 font-weight-normal ">Добави дете.</h3>

        <%= form_for @conn, Routes.school_school_child_path(@conn , :create , @school.id),[ method: :post, as: :add_child, class: "form-elixir register-form-class" ], fn form -> %>
        <%= inputs_for form, :child, fn child -> %>
        <%= text_input child, :name , [ class: "form-control" ,minlength: "3", required: true , placeholder: "Име Презиме Фамилия Клас Паралелка",  type: "text"] %>
        <%= text_input child, :egn , [ class: "form-control" ,minlength: "10", required: true , placeholder: "ЕГН",  type: "text", value: Mock.gen_fake_egn() ] %>
        <%= text_input child, :rfid , [ class: "form-control" ,minlength: "6", required: true , placeholder: "Гривна номер",  type: "text",value: Mock.gen_fake_rfid()] %>
        <%= hidden_input child, :secure_code_confirmation , [ class: "form-control" ,minlength: "6", required: true , placeholder: "Потвърждаващ код", value: gen_secure_code()] %>

        <% end %>
        <button class="btn btn-primary">Добави</button>
        <% end %>

    </div>
</div>