<div>
<%= render "add_child.html", Map.put(assigns, :school, @school) %>
<h2>Всички регистрирани деца за училище</h2>
<h2><%= @school.name%></h2>
<table>
  <thead>
    <tr>
      <th>Име</th>
      <th>ЕГН</th>
      <th>Гривна номер</th>
      <th>Статус</th>
      <th>Код</th>
    </tr>
  </thead>
  <tbody>
<%= for child <- @children do %>
    <tr>
        <td><%= child.name %></td>
        <td><%= child.egn %></td>
        <td><%= child.rfid %></td>
        <td><%= child.active? %></td>
        <td><%= child.conf_code %>
    </tr>
<% end %>
  </tbody>
</table>
</div>
