<div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Добавяне на артикул (храна)</h3>
    <%= form_for @food, @action ,[as: :food, class: "form-elixir register-form-class" ], fn food -> %>
    <%= if @food.action do %>
    <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
    <% end %>
    <%= select(food, :food_type, @food_types, [class: "form-control" ,placeholder: "Наименование на артикул (храна)",  type: "combo"]) %>
    <%= text_input food, :name, [class: "form-control" ,placeholder: "Наименование на артикул (храна)",  type: "text"] %>
    <%= number_input food, :price, [class: "form-control" ,placeholder: "Цена на артикул (храна)", step: "0.01"] %>
    <%= textarea food, :description, [class: "form-control" ,placeholder: "Описание на артикул (храна)",  type: "text"] %>
    <button class="btn btn-primary">Добави</button>
    <% end %>
</div>