<h1>Всички регистрирани храни</h1>
<span>
  <%= link "Добави нов артикул", to:
  Routes.catering_catering_food_path(@conn, :new, @catering_id) %>
</span>

<table>
  <thead>
    <tr>
      <th>Категория</th>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>Опции</th>
    </tr>
  </thead>

  <tbody>
    <%= for food <- @foods do %>
    <tr>
      <td><%= get_food_type_by_id(food) %></td>
      <td><%= food.name %></td>
      <td><%= food.price %></td>
      <td><%= food.description %></td>
      <td>
        <%= link("Виж", to: Routes.catering_catering_food_path(@conn, :show, @catering_id, food.id)) %>
        <%= link "Промени", to: Routes.catering_catering_food_path(@conn, :edit, @catering_id, food.id) %>
        <%= link "Премахни", to: Routes.catering_catering_food_path(@conn, :delete, @catering_id, food.id), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
