<h1>Информция за артикул(храна)</h1>
<ul>
  <li>
    <strong>Тип:</strong>
    <%= Server.Catering.get_food_type!(@food.food_type).name %>
  </li>
  <li>
    <strong>Наименование:</strong>
    <%= @food.name %>
  </li>
  <li>
    <strong>Цена:</strong>
    <%= price = @food.price |> Decimal.from_float() |> Decimal.round(2) |> Decimal.to_string 
        Enum.join([price, "лв."]," ")
    %>
  </li>
  <li>
    <strong>Описание:</strong>
    <%= @food.description %>
  </li>
</ul>

<span>
  <%= link "Промени", to: Routes.catering_catering_food_path(@conn, :edit,
  @catering_id, @food.id) %>
</span>
<br>
<span>
  <%= link "Към всички храни", to: Routes.catering_catering_food_path(@conn, :index,
  @catering_id) %>
</span>
