<div class="row">
<div class="col-lg-6 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Вход</h3>
    
    <%= form_for @conn, Routes.session_path(@conn , :create),[ method: :post, as: :login, class: "form-elixir register-form-class" ], fn form -> %>
        <%= inputs_for form, :credential, fn cf -> %>
            <%= text_input cf, :username, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Потребителско име",  type: "text",value: "parent_8-"] %>
            <%= text_input cf, :password, [ class: "form-control" ,minlength: "8", required: true , placeholder: "Парола",  type: "password", value: "123123123"] %>
        <% end %>
        <button class="btn btn-primary" >Вход</button>
    <% end %>
    
    <%# <div class="row mt-3">
        <div class="col">
            <a onclick="showModalForm(event, 'forgotten-pass-form')" href="#"> ЗАБРАВЕНА ПАРОЛА
            </a>
        </div>
    </div> %>
    <%# <div class="row mt-5">
        <div class="col pb-4 text-center">
        </div>
    </div>
     %>
</div>
</div>