<h1>Всички регистрирани кетъринг фирми</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for catering <- @caterings do %>
      <tr>
        <td><%= catering.name %></td>

        <td>
          <%= link "Show", to: Routes.catering_path(@conn, :show, catering) %>
          <%= link "Edit", to: Routes.catering_path(@conn, :edit, catering) %>
          <%= link "Delete", to: Routes.catering_path(@conn, :delete, catering), method: :delete, data: [confirm: "Are you sure?"] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<span><%= link "New Catering", to: Routes.catering_path(@conn, :new) %></span>
