<h1>Профил: <%= @catering.name %></h1>

<ul>
  <% IO.inspect @conn.assigns.catering.id %>
  <li>
    <strong>Name:</strong>
    <%= @catering.name%>
  </li>
  <li>
    <strong>Email:</strong>
    <%= @catering.email %>
  </li>
  <li>
    <strong>Username:</strong>
    <%= Server.Accounts.get_catering!(@conn.assigns.catering.id).credential.username %>
  </li>
  <li>
    <strong>City:</strong>
    <%= Server.Accounts.get_address(@conn.assigns.catering.address_id).city %>
  </li>
</ul> 

<span><%= link "Регистрирани храни", to: Routes.catering_catering_food_path(@conn, :index, @catering) %></span>
<br>
<span><%= link "Регистрирани менюта", to: Routes.catering_catering_menu_path(@conn, :index, @catering.id) %></span>
<br>
<span><%= link "Back", to: Routes.catering_path(@conn, :index) %></span>